body {
	line-height: 1.2;
	font-size: 12px;
	color: #333;
	text-decoration: none;
	overflow: auto;
	background: #000;
}
obe
body.colorbox-page{
	background: #fff;
}
a,a:link,a:hover {
	text-decoration: none;
	color: #000;
}

.form-text {
	width: 100%;
	border: 1px solid #000;
}

select {
	border: 1px solid #000;
}

.container {
	position: absolute;
	z-index: 9;
	left: 0px;
	top: 0px;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.content-wrapper {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.dummy-top {
	position: absolute;
	z-index: -1;
	height: 106px;
	left: 0;
	right: 0;
	top: -106px;
}

.content-wrapper:FIRST-CHILD .page-bg-top {
	display: none;
}

.index-jss-slideshow-wr {
	overflow: hidden;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	display: none;
}

#index-jss-slideshow {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 1200px;
	height: 800px;
}

#index-jss-slideshow img {
	position: absolute;
	z-index: 1;
}

#index-jss-slideshow .imgidx2 {
	left: 144px;
}

.logo {
	position: absolute;
	z-index: 4;
	left: 16px;
	top: 26px;
	width: auto;
	height: auto;
	max-width: 100%;
}

.logo img {
	height: 54px;	
}

.social {
	position: absolute;
	z-index: 4;
	right: 7px;
	top: 79px;
	width: auto;
	height: auto;
}

.social img {
	width: 23px;
	height: 23px;
}

.socials-lang img{
	width: auto !important;
}

.location-social {
	display: inline-block;
	margin-top: 20px;
}

.social li,.location-social li {
	float: left;
	margin-right: 2px;
	height: 23px;
}

.border {
	border-color: #a10652;
}

.top-wrapper {
	position: fixed;
	z-index: 9999;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 106px;
	background: #fff url(../img/top-bg.png?3);
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: normal;
}


.book-table {
	position: absolute;
	z-index: 1;
	top: 2px;
	right: 0px;
	height: 50px;
	line-height: 50px;
	background-image: url(../img/ot-bar-bg.jpg);
	background-repeat: repeat-x;
	left: 2px;
	padding-left: 9px;
}

.book-table-title {
	float: left;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	color: #E3639E;
}

.book-table-form {
	float: right;
	margin-right: 12%;
}

.book-table-form {
	line-height: 1;
	border: 1px solid #444;
	padding: 5px;
	margin-top: 3px;
}

.popup-box {
	position: absolute;
	z-index: 4;
	left: 182px;
	top: auto;
	width: auto;
	height: auto;
	display: none;
	padding: 20px;
	border: 2px solid #c89766;
}

.page-uid-menus .page-files li {
	font-size: 20px !important;
	text-align: center;
}

.promo-close-btn {
	position: absolute;
	z-index: 2;
	top: -5px;
	left: -5px;
	background: url(../img/close_btn_small.png) no-repeat 0 0;
	width: 10px;
	height: 10px;
	cursor: pointer;
}

.promo-close-btn-hover {
	background-position: 0 -10px;
}

.secClose {
	position: absolute;
	z-index: 2;
	bottom: -15px;
	right: -15px;
	background: url(../img/btn_close.png?2) no-repeat 0 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.promo-event-wrapper .hover {
	background-position: 0 -20px;
}

.secClose-hover {
	background-position: 0 -20px;
}

.page-image {
	position: absolute;
	z-index: 3;
	left: 0px;
	top: 0;
	bottom: 0px;
	right: 0;
	overflow: hidden;
}

.page-content-wrapper, .object-content-wrapper {
	position: absolute;
	z-index: 11;
	top: 0px;
	right: 0px;	
	width: 474px;
}

.page-content-wrapper{	
	z-index: 11;
	top: 11px;
	right: 0px;
	height: auto;
	width: 474px;
	background: url(../img/white-87.png);
	/*border: 2px solid #333;*/
	border: none;
}

.page-content-wrapper-inner {
	z-index: 1;
	left: 2px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	padding: 20px;	
}

.page-need-wider .page-content-wrapper-inner {
	
}

.page-content-wrapper-inner-1 {
	position: relative;
	margin: 0 auto;
	width: 691px;
	height: 100%;
}

.page-bg {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	display: none;
}

.page-title {
	position: absolute;
	z-index: 14;
	right: 29px;
	top: 20px;
	height: 50px;
	left: 29px;
	line-height: 50px;
	color: #000;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
}

.page-title-bottom-line {
	position: absolute;
	z-index: -1;
	left: 50%;
	margin-left: -115px;
	top: 0;
	bottom: 0;
	width: 230px;
	border-bottom: 1px solid #333;
}

.page-text {
	z-index: 3;
	left: 7px;
	margin-top: 64px;
	height: auto;
	right: 7px;
	overflow: auto;
	padding: 10px;
	text-align: left;
}

.page-text,.page-text * {
	font-size: 16px;
	line-height: 1;
}

.copy,.copy * {
	font-size: 9px;
	font-weight: normal;
}

.copy,.copy *,.gallery-copy,.gallery-copy a,.gallery-copy a:LINK {
	font-size: 9px;
	font-weight: normal;
	color: #000;
	text-transform: uppercase;
}

.copy {
	position: absolute;
	z-index: 1;
	height: 36px;
	line-height: 36px;
	width: auto;
	right: 10px;
	top: 0px;
}

.team .data .secClose {
	bottom: -16px;
	right: -15px !important;
	left: auto;
}

.team .hover {
	background-position: 0 -20px;
}

.team .data {
	display: none;
}

.team .data {
	background-color: #000;
	position: relative;
	z-index: 1;
	border: 2px solid #A10652;
	padding: 0;
	margin: 0;
	background: url(../img/lettucetomatos.jpg) repeat-x;
	margin-right: 20px;
}

.team .link {
	margin-top: 20px;
}

.team .data .bio-wrapper {
	padding: 4px;
}

.team .bio-wrapper img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#startDate {
	border: 1px solid black;
	width: 64px;
}

.ism table td {
	padding: 0;
	padding: 4px;
	margin: 0;
	font-size: 10px;
	padding-left: 5px;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
}

.ism #submit,.ism #submit:hover {
	display: block;
	height: 29px;
	line-height: 29px;
	font-size: 9px;
	background-image: url(../img/ot-btn.jpg);
	background-repeat: repeat-x;
	color: #fff;
	padding-right: 10px;
	padding-left: 10px;
}

.ism #submit,.ism #submit:hover {
	display: block;
	height: 29px;
	line-height: 29px;
	font-size: 9px;
	background-image: url(../img/ot-btn.jpg);
	background-repeat: repeat-x;
	color: #fff;
	padding-right: 10px;
	padding-left: 10px;
}


.events {
	margin: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.events li {
	padding: 10px;
	display: block;
	position: relative;
	z-index: 1;
	border: 1px solid #333;
	border-right: none;
	border-left: none;
	margin-bottom: 10px;
	border-top: none;
}

.event-image {
	float: left;
	width: 200px;
	height: 140px;
}

.event-image img {
	width: 200px;
}

.event-content {
	line-height: 1;
	margin-top: 8px;
}

.event-title {
	font-size: 20px;
	line-height: 1;
	text-align: center;
	margin-bottom: 5px;
}

.event-date {
	font-size: 16px;
	line-height: 1;
}

.event-text {
	font-size: 16px;
	padding-top: 10px;
}

.event-overlay {
	display: none;
	position: absolute;
	z-index: 14;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
}

.event-overlay-hover {
	background: url(../img/black-80.png);
}

.press-archive-data {
	display: none;
}

.press-archive-navigation {
	display: none;
	position: absolute;
	z-index: 1;
	left: 7px;
	right: 50%;
	top: 95px;
	bottom: 30px;
	overflow: auto;
}

.press-nav-year {
	text-align: center;
	margin-top: 10px;
}

.press-nav-year a,.press-nav-year a:link {
	font-size: 22px;
}

.press-nav-year_month {
	display: none;
	text-align: center;
}

.press-nav-year_month a,.press-nav-year_month a:link {
	font-size: 18px;
	text-transform: uppercase;
}

.press {
	width: 254px;
	margin: 0 auto;
}

.press li {
	position: relative;
	width: 105px;
	height: 165px;
	display: inline-block;
	margin: 10px;
}

.press-content {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 1;
	min-height: 30px;
	height: auto;
	background: #333 /*url(../img/black-80.png)*/;
	color: #fff;
}

.press-date {
	color: #fff !important;
	line-height: 1;
}

.press-title {
	color: #fff !important;
	line-height: 1;
}

.press-overlay {
	display: block;
	position: absolute;
	z-index: 14;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.event-details-wrapper {
	padding: 10px;
}

.event-details-image {
	float: left;
	width: 210px;
	height: 147px;
}

.event-details-image img {
	width: 100%;
}

.event-details-content {
	width: 260px;
	margin-left: 232px;
}

#cboxContent {
	background: #000;
}

#cboxLoadedContent1 {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#cboxLoadedContent1 img {
	width: 100%;
	height: 100%;
}

#cboxContent * {
	color: #000;
}

.hours-wrapper {
	text-align: left;
	line-height: 1.2;
}

.hours {
	display: inline-block;
}

.hours .t {
	font-weight: bold;
}

.hours .h {
	line-height: 1.5;
}

.hours li {
	padding: 0px;
	padding-bottom: 10px;
	line-height: 1.2;
}

.popup-box table td {
	padding: 0;
	padding: 4px;
	margin: 0;
	font-size: 10px;
	padding-left: 5px;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
}

.popup-box input[type=text] {
	border: 1px solid black;
}


.partners li {
	float: left;
	width: 50%;
	text-align: center;
	margin-bottom: 20px;
}

.partner-details-wrapper {
	width: 600px;
	padding: 10px;
	min-height: 200px;
	max-height: 400px;
}

.partner-details-image {
	float: left;
}

.partner-details-content {
	margin-left: 120px;
	width: 480px;
}

.partner-details-title {
	font-size: 18px;
	line-height: 1;
	text-transform: uppercase;
}

.partner-details-video {
	margin-top: 20px;
}

.page-text,.page-text * {
	color: #000;
}

.page-text input,.page-text select,.page-text option,.page-text textarea
	{
	color: #000;
}

.page-text a,.page-text a:LINK,.page-text a *,.page-text * a,.page-text * a:LINK,.page-text * a *,.partner-details-text a,.partner-details-text a:LINK,.partner-details-text a *,.partner-details-text * a,.partner-details-text * a:LINK,.partner-details-text * a *
	{
	color: #000;
}


.page-content-wrapper a, .page-content-wrapper a:LINK, .page-content-wrapper * a, .page-content-wrapper * a:LINK, #colorbox a, #colorbox a:LINK {
	color: #000;
}


.sub-navigation {
	position: absolute;
	z-index: 12;
	top: 75px;
	bottom: 30px;		
	left: 0px;
	width: 247px;	
	text-align: left;
	overflow: auto;
}

.sub-navigation ul {
	
}

.sub-navigation .nav li {
	background: url(../img/black-80.png);
	margin: 3px;
	margin-left: 0;
	margin-right: 0;
	text-align: center;	
}

.sub-navigation a{
	display: block;
	padding: 10px;
	text-align: center;
}

.sub-navigation .nav li,.sub-navigation .nav li * {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff !important;
	text-decoration: none;
}

.sub-navigation a:HOVER {
	color: #86222b !important;
}

.bios {
	
}

.bios li * {
	font-size: 10px !important;
}

.page-bio-image img {
	border: 2px solid #d6a00a;
}

.page-bio-name {
	font-size: 15px !important;
	font-weight: normal;
	text-transform: uppercase;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.page-bio-position {
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 20px;
	width: 282px;
}

.page-bio-image-wrapper {
	float: left;
	position: relative;
	z-index: 1;
	width: auto;
	height: auto;
	margin-right: 10px;
}


.left-bottom {
	position: absolute;
	z-index: 1;
	left: 0px;
	bottom: 0px;
	width: 249px;
	height: 387px;
}

.JSRSSTicker {
	position: absolute;
	z-index: 4;
	top: 40px;
	left: 0px;
	right: 0px;
	height: 30px;
	line-height: 30px;
	background: url(../img/black-80.png);
	overflow: hidden;
}

.JSRSSTicker .item {
	padding-left: 20px;
}

.JSRSSTicker .item * {
	font-size: 16px;
}

.location-page .JSRSSTicker {
	top: auto;
	bottom: 53px;
}

.private-parties {
	margin: 10px;
	margin-top: 20px;
	margin-bottom: 0;
}

.private-parties li {
	margin: 10px;
	float: left;
	position: relative;
	z-index: 1;
	width: 183px;
}

.private-parties-image {
	border: 2px solid #43282e;
	width: 179px;
	height: 115px;
}

.private-parties-title {
	font-size: 14px;
	line-height: 1;
	height: 32px;
	line-height: 1;
	overflow: hidden;
}

.private-parties-overlay {
	position: absolute;
	z-index: 14;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.private-parties-overlay-hover {
	background: url(../img/black-80.png);
}

.private-party-details-title {
	font-weight: bold;
}

.pr-book,.pr-book:LINK,.pr-book:VISITED,.pr-book:hover {
	display: block;
	width: 142px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	height: 29px;
	line-height: 29px;
	font-size: 10px;
	background-image: url(../img/ot-btn.jpg);
	background-repeat: repeat-x;
	color: #fff !important;
	text-transform: uppercase;
	margin-left: 20px;
}

.pr-book:HOVER {
	color: #f00 !important;
}

.private-party-details-wrapper {
	width: 348px;
	padding: 10px;
	margin: 0 auto;
}

.restaurant-blog-container {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.locations-popup,.locations-popup * {
	font-size: 17px;
}

.locations-popup li {
	width: 150px;
	margin-bottom: 5px;
}

.box-wrapper {
	border: 3px solid #bc0000;
}

.box {
	border: 2px solid #fec78a;
	background: url(../img/box-bg.png?4);
}


#top-navigation {
	text-align: center;
	height: 29px;
	line-height: 29px;
	margin-top: 7px;
}

#top-navigation ul {
	display: inline-block;
	margin-right: 10px;
}

.ddsmoothmenu ul li ul {
	background: #fff;
}

.ddsmoothmenu ul li ul {
	padding: 0px;
	margin-left: 4px;
}

.ddsmoothmenu ul li ul li {
	background: url(../img/grey-56.png) repeat-x 0 top;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.ddsmoothmenu ul li ul li:FIRST-CHILD {
	background: none;
}

.ddsmoothmenu,.ddsmoothmenu * {
	font-size: 15px !important;
	font-weight: normal !important;
	text-transform: uppercase;
}

.ddsmoothmenu ul li ul {
	border: 3px solid #600 !important;
}


.button li {
	border: 2px solid #bb1200;
	background: #000 url(../img/button-bg.jpg) repeat-x 0 0;
	height: 36px;
	line-height: 36px;
	text-align: center;
}

.button li a {
	display: block;
	text-align: center;
}

.reservation-bar-wrapper {
	position: absolute;
	z-index: 10;
	bottom: 23px;
	left: 0;
	right: 0;
	height: auto;
}

.reservation-bar {
	position: relative;
	height: 45px;
	margin: 0 auto;
	overflow: hidden;
}


.popup-box {
	color: #000;
}

.popup-box * {
	color: #43282e;
}

.ism1 #submit,.ism1 #submit:hover {
	display: block;
	height: 29px;
	line-height: 29px;
	font-size: 9px;
	background-image: url(../img/ot-btn.jpg);
	background-repeat: repeat-x;
	color: white;
	padding-right: 10px;
	padding-left: 10px;
	text-transform: uppercase;
}

.hours-wrapper {
	text-align: center;
}

.page-map {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0px;
	right: 0px;
	bottom: 10px;
}

.ddsmoothmenu ul li a {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.ddsmoothmenu ul li ul a {
	/*text-align: center !important;*/
	
}

.ddsmoothmenu ul li ul {
	border: 1px solid #D1A854 !important;
}

.socials-mailing-list * {
	text-transform: uppercase;
	font-size: 13px;
}

.socials-mailing-list {
	height: 23px;
	line-height: 23px;
	padding-right: 10px !important;
}

.mailing-list-wrapper input[type=text],.mailing-list-wrapper select,.mailing-list-wrapper textarea
	{
	border: 1px solid #000;
	margin: 0;
}

.mailing-list-wrapper table td {
	padding: 2px;
	vertical-align: top;
}

.event-item-overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: #fff;
	display: none;
}

.event-item {
	position: relative;
	z-index: 1;
	padding: 3px;
}


.page-uid-gallery  .page-content-wrapper{
	width: 298px;
}


.page-uid-gallery .page-content-wrapper-inner {	
	padding: 0;
	left: 0;
}

.book-event-wrapper {
	position: absolute;
	z-index: 1;
	left: 20px;
	top: 0;
	height: 77px;
	width: auto;
	line-height: 77px;
	text-transform: uppercase;
	color: #883B1F;
	font-size: 18px;
}

.book-event-wrapper a,.book-event-wrapper a:LINK,.book-event-wrapper a:ACTIVE,.book-event-wrapper a:VISITED
	{
	color: #883B1F;
}

.bottom-address {
	height: 22px;
	line-height: 26px;
	width: auto;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
	padding-top: 10px;
}

.bottom-address a {
	color: #fff;
}

.bottom-address * {
	text-transform: uppercase;
	color: #fff;
}

.bottom-map {
	height: 20px;
	line-height: 20px;
	width: auto;
}


.bottom-map *{
	text-transform: uppercase;
	color: #fff !important;
	font-size: 12px;
}
 

.gift-card-content {
	margin-top: 40px;
}

.gift-card-wrapper,.gift-card-btn {
	text-align: center;
}

.gift-card-btn {
	margin-top: 20px;
}

.gift-card-btn a,.gift-card-btn a:LINK {
	display: inline-block;
	font-size: 11px;
	padding: 2px;
	background: #d7cb98;
	color: #fff !important;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold !important;
	border: 1pt solid #000;
}

.gra {
	position: absolute;
	z-index: 4;
	right: 10px;
	bottom: 0px;
	height: auto;
	width: auto;
}

.gra img {
	width: 30px;
}

.event-details,.event-details-two-columns {
	padding: 10px;
}

.news-date {
	font-weight: bold;
	color: #F90;
}

.news-headline {
	font-weight: bold;
}

.news-content {
	margin-top: 4px;
	margin-bottom: 10px;
	color: #000;
}

.dynamic-event-wrapper {
	float: left;
	margin-left: 20px;
	width: 466px;
}

.calendar-title-wrapper .m {
	text-transform: uppercase;
	font-weight: bold;
}

.event-thumbnail,.event-photo {
	margin-right: 10px;
	float: left;
}

.event-thumbnail {
	float: left;
}

.event-item-has-photo .event-info {
	float: left;
	width: 383px;
}

#cboxLoadedContent .event-details-two-columns .event-info {
	margin-left: 10px;
	float: left;
	width: 549px;
}

.vline {
	height: 10px;
	background: url(../img/vline.png) center 0 repeat-x;
}

.page-bg-left,.page-bg-top,.page-bg-right,.page-bg-bottom {
	position: absolute;
	z-index: 2;
}

.page-bg-top,.page-bg-right,.page-bg-bottom,.page-bg-left {
	display: none;
}

.page-content-bg-top {
	display: none;
	position: absolute;
	z-index: 10;
	left: 0px;
	bottom: 0px;
	right: 0px;
	height: 2px;
	background: #600;
}

.popup-box-inner {
	margin: 5px;
}

.menu-title-wrapper {
	position: absolute;
	z-index: 1;
	top: 78px;
	height: 50px;
	left: 0;
	right: 0;
	text-align: center;
}

.page-menus .page-text {
	bottom: 110px;
	top: 128px;
}

.menu-title {
	color: #000;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.menu-nav {
	position: absolute;
	z-index: 1;
	bottom: 74px;
	height: 32px;
	line-height: 32px;
	left: 0;
	right: 0;
	text-align: center;
}

.menu-nav ul {
	display: inline-block;
}

.menu-nav ul li {
	float: left;
	margin-left: 4px;
	margin-right: 4px;
	text-transform: uppercase;
}

.menu-item-name {
	font-weight: normal;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.menu-item-price {
	text-align: center;
}

.menu-sep-wrapper {
	margin-bottom: 10px;
}

.menu-sep {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.page-menus .page-content-wrapper {
	width: auto;
	left: 50%;
}

.page-menus .page-image {
	right: 50%;
}

.menu-download {
	text-transform: uppercase;
}

#ism td[bgcolor="#333333"] {
	background: #333333;
}

#ism td[bgcolor="#9CADBD"] {
	background: #9CADBD;
}

#ism td[bgcolor="#FFFFFF"] {
	background: #FFFFFF;
}

#ism img[vspace="3"] {
	margin-bottom: 3px;
	margin-top: 3px;
}

#OT_logoLink {
	display: none !important;
}

.bio-image {
	width: 244px;
	height: 171px;
	margin: 0 auto;
}

.bio-image img {
	height: 100%;
}

.event-details-wrapper {
	padding: 10px;
}

.event-details-image {
	float: left;
	width: 210px;
	height: 300px;
}

.event-details-content .event-text {
	height: auto;
	overflow: auto;
}

.bio-details-image {
	float: left;
	width: 210px;
	height: 215px;
}

.bio-details-content {
	width: 255px;
	margin-left: 237px;
}

.promo-box-wrapper {
	position: absolute;
	z-index: 10;
	right: -445px;
	bottom: 262px;
	width: 445px;
	height: 245px;
	background: url(../img/bottom-bg.png?3);
}

.promo-box-wrapper .event-date {
	font-size: 14px;
	line-height: 1;
	text-align: center;
}

.promo-box-inner {
	position: absolute;
	z-index: 1;
	left: 20px;
	top: 69px;
	right: 20px;
	bottom: 20px;
	overflow: hidden;
	background: url(../img/bottom-bg.png?3);
}

.promo-box-inner-1 {
	position: absolute;
	z-index: 1;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;
	overflow: hidden;
}

.promo-box-image {
	display: block;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 48px;
	width: 196px;
	height: auto;
}

.promo-box-content {
	padding: 10px;
	font-size: 13px;
	position: absolute;
	z-index: 1;
	left: 207px;
	right: 0px;
	top: 36px;
	bottom: 40px;
	overflow: auto;
}

.promo-box-more a:HOVER {
	color: #bc3700 !important;
}

.promo-box-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 18px;
}

.promo-box-header {
	height: 32px;
	line-height: 32px;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	margin-left: 109px;
	margin-right: 109px;
	border-bottom: 1px solid #333;
	margin-top: 15px;
}

.promo-box-content .event-date {
	margin-top: 5px;
}

.promo-box-text {
	margin-top: 10px;
	text-align: center;
	max-height: 100px;
	overflow: auto;
	font-size: 14px;
}

.promo-box-more {
	position: absolute;
	z-index: 1;
	bottom: 0px;
	height: auto;
	left: 0px;
	right: 0px;
	text-transform: uppercase;
	text-align: center;
}

.promo-box-close-btn {
	background: url(../img/bottom-bg.png?3);
	cursor: pointer;
}

.promo-box-close-btn,.promo-box-close-btn ul {
	position: absolute;
	z-index: 1;
	width: 22px;
	left: -25px;
	top: 0px;
	bottom: 0px;
}

.promo-box-close-btn ul {
	left: 0;
	right: 0;
	top: 20px;
	bottom: 20px;
}

.promo-box-close-btn ul li {
	text-align: center;
	font-size: 23px;
	font-weight: normal;
	line-height: 32px;
}

.promo-box-items {
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	bottom: 0px;
}

.promo-box-item {
	position: relative;
	float: left;
	width: 385px;
	height: 100%;
}

.promo-box-dots-wrapper {
	position: absolute;
	z-index: 4;
	bottom: 4px;
	left: 0px;
	right: 0px;
	height: 10px;
	text-align: center;
}

.promo-box-wrapper .dots {
	display: inline-block;
}

.promo-box-wrapper .dots li {
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 2px;
	background: url(../img/dots.png?1) no-repeat 0 0;
	cursor: pointer;
}

.promo-box-wrapper .dots li.selected,.promo-box-wrapper .dots li:hover {
	background-position: 0 -10px;
}

.menu-sep {
	font-size: 23px;
}

.menu-sep-subcat {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: bold;
}

.menu-sep-subcat .menu-sep {
	text-decoration: underline;
	font-style: italic;
	font-size: 16px;
}

.menu-items li {
	text-align: center;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.menu-item-dsc {
	text-align: center;
	font-size: 12px;
}

.page-uid-contact .page-files li {
	text-align: center;
}

.page-uid-contact .page-text *{
	line-height: 1.2 !important;
	text-align: center;
}

.partner-website {
	padding-top: 5px;
}

.object-content-wrapper .menu-items * {
	font-size: 14px;
	line-height: 1;
}

.menu-item-name-inner {
	padding-right: 20px;
}

.menu-item-dsc-inner {
	padding-left: 20px;
}

.top-navigation-wrapper {
	text-align: center;
	position: absolute;
	z-index: 2;
	left: 200px;
	right: 0px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	/*bottom: 18px;*/
	/*bottom: 110px;*/
	top: -40px;
	height: 32px;
	line-height: 32px;
}

.top-navigation-wrapper ul {
	display: inline-block;
	color: #fff;
	height: 32px;
	line-height: 32px;
}

.top-navigation-wrapper ul li {
	display: inline-block;
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
	height: 32px;
	line-height: 32px;
}

.top-navigation-wrapper ul li:FIRST-CHILD {
/* 	margin-left: 15px; */
}

.top-navigation-wrapper ul li a,.top-navigation-wrapper ul li a:link {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	/*display: block;*/
	color: #333;
}
/*
.top-navigation-wrapper ul li .language {
	width: 127px;
	text-align: left;
	margin: 0 0 0 10px;
	display: inline;
}
*/
.top-navigation-wrapper ul li.drop-down-lang {
	display: inline;	
}
.top-navigation-wrapper ul li .globe { position: relative; top: 4px; left: 5px; }
.top-navigation-wrapper ul li .globe:hover { opacity: .6; }

/*.top-navigation-wrapper{
	display: table;
	width: 100%;
}
.top-navigation-wrapper ul{
	display: table-row;
}
.top-navigation-wrapper ul li{
	display: table-cell;
}*/



.bottom-address-wrapper {
	position: absolute;
	color: #663700;
	z-index: 1;
	bottom: 0;
	left: 0;
	right: 0;
}

.popup-box {
	background: url(../img/content-bg.jpg);
}

.gallery-copy {
	display: none;
}

.page-uid-gallery .gallery-copy {
	display: inline;
}

.object-content-wrapper {
	right: 0px;
	width: 474px;
	left: auto;
	top: 0px;
	bottom: 0px;
	z-index: 9;
}

.event-overlay a {
	display: block;
	height: 100%;
}

.private-party-details-image,.private-party-details-image img {
	width: 358px;
}

.private-party-details-image {
	margin: 0 auto;
}

.page-text a:HOVER {
	color: #bc3700 !important;
}

.page-uid-private_parties .object-content-wrapper {
	width: 415px;
}

.object-content-wrapper .page-title {
	line-height: 1;
	padding-top: 10px;
	max-width: 100%;
	height: auto;
	padding-bottom: 10px;
}

.contact-address .rest-name {
	font-size: 23px;
}

.page-uid-contact .page-text {
	font-size: 17px;
}

.page-content-divider {
	position: absolute;
	z-index: 4;
	left: 0;
	right: 0;
	top: -11px;
	height: 22px;
	/*background: url(../img/divider-cone-left.png?2) left center no-repeat;*/
}

.page-content-divider img {
	width: 100%;
	height: 22px;	
}

.datepick-popup {
	z-index: 9999 !important;
}

.image-bg {
	display: none;
	position: absolute;
	z-index: 3;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 694px;
	background: url(../img/image-bg.png?7) repeat-y;
}

.image-bg-top,.image-bg-middle,.image-bg-bottom {
	position: absolute;
	z-index: 3;
	left: 0px;
	right: 0px;
	display: none;
}

.image-bg-top {
	top: 0px;
	height: 292px;
	/*background: url(../img/image-bg-top.png?3) 0 0 no-repeat;*/
}

.image-bg-bottom {
	bottom: 0px;
	height: 292px;
	/*background: url(../img/image-bg-bottom.png?3) 0 0 no-repeat;*/
}

.image-bg-middle {
	top: 292px;
	bottom: 292px;
	/*background: url(../img/image-bg-middle.png?3) 0 0 repeat-y;*/
}

.page-uid-menus .object-content-wrapper {
	display: none;
	width: 345px;
}

.page-uid-contact .object-content-wrapper {
	display: none;
	width: 345px;
}

.colorbox-content-wrapper {
	padding: 20px;
	font-size: 16px;
	text-align: justify;
}

.menu-category {
	font-size: 18px;
	font-weight: normal;
}

.menu-slide {
	display: none;
}

.page-image {
	top: 0px;
	bottom: 0px;
}

.is-first-content-wrapper-1 .page-image {
	top: 0;
}

.is-last-content-wrapper-1 .page-image {
	bottom: 0;
}

.press-view-archive {
	display: block;
	position: absolute;
	z-index: 1;
	top: 69px;
	left: 0;
	right: 0;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
}

.page-uid-press .page-text {
	top: 90px;
}

#contact-directions {
	font-size: 18px;
}

.menu-sep-subcat {
	font-size: 17px !important;
	font-weight: normal;
}

.content-wrapper-3144 .page-text a,.content-wrapper-3144 .page-text a:link
	{
	color: #f00 !important;
}

.content-wrapper-3144 .page-text a:HOVER {
	color: #ccc !important;
}

.sub-pages{
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	height: 100%;
}

.sub-pages .sub-page-li{
	float: left;
	height: 100%;
}


.page-uid-home .image-bg{
	display: none;
}

a:hover {
	color: #666666 !important;
}


.page-uid-press .page-text .press *{
	text-align: center;
}

.vertical-divider{
	display: none;
	position: absolute;
	z-index: 5;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 43px;	
	overflow: hidden;
}

.vertical-divider-image-wrapper{
	position: absolute;
	z-index: -1;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 43px;	
}

.vertical-divider img{	
	width: 43px; 
	height: 100%;
}

.vertical-divider-table{
	display: table;
	height: 100%;
	width: 100%;
}

.vertical-divider-cell{
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.vertical-divider-title-ul{
	display: inline-block;
	width: 100%;
}

.vertical-divider-title-li{
	width: 43px; 
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	white-space: pre;
}

.sub-page-li{
	position: relative;
}

.bottom-wrapper{
	background: url(../img/black-80.png);
	position: fixed;
	z-index: 20;
	left: 0px;
	right: 0px;
	height: 44px;
	bottom: 0px;
}
.bottom-wrapper a:link {
	text-decoration: underline;
}
.arrow-down{
	position: absolute;
	top: -27px;
	height: 27px;
	width: auto;
	left: 0;
	right: 0;
	background: url(../img/scroll-bottom.png) 50% 0 no-repeat;
}

.check-availability-button{
	display: block;
	width: 304px;
	height: 46px;
	line-height: 46px;
	white-space: pre;
	color: #000 !important;
	background: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
}

.page-preview-wrapper{
	position: absolute;
	z-index: 10;
	width: 420px;
	height: auto;
	padding: 15px;
	padding-top: 10px;
	background: #000;			
}

.page-preview-title{
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 10px;		
}

.page-preview-image{
	width: 420px;
	height: 279px;	
	overflow: hidden;
	position: relative;
}

.bottom-wrapper *{
	color: #fff;
}

.bottom-wrapper .table{
	display: table;
	float: left;	
	height: 100%;
}

.bottom-wrapper .table-cell{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.bt-right{
	width: 35%;
}

.bt-left .table-cell .bt-wrapper{
	padding-left: 15px;
	font-size: 14px;
}

.bt-left, .bt-signup{
	width: 32%;
}
.bt-left .concierge {
	position: relative;
	top: 3px;
	padding: 0px 10px 0px 23px;
}
.bt-left .social-icon {
	position: relative;
	top: 3px;
	padding: 0px 10px 0px 10px;	
}
.bt-left img:hover {
	opacity: 0.6;	
}
.bt-signup  .table-cell .bt-wrapper{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}

.bt-signup  .table-cell .bt-wrapper *{
	color: #fff !important;
}

.bt-center{
	width: 33%;
}

.bt-center .table-cell .bt-wrapper{
	text-align: center;
}

.bt-right .table-cell .bt-wrapper{
	text-align: right;
	padding-right: 20px;
}


.relais{
	height: 40px;
}
a.page-uid-best_rate{
	line-height: 15px;
	color: #FFF;
	position: absolute;
	right: 10px;
	top: 106px;
}
/*.top-navigation-wrapper ul .language li { border: 1px solid green; display: block !important; }*/
.top-navigation-wrapper #language-selector li { display: block; padding: 0px 5px 0px 5px; }

.top-navigation-wrapper .drop-down-lang ul {visibility:hidden; }
.top-navigation-wrapper .drop-down-lang ul li {display: inline-block; }
/*.top-navigation-wrapper .language { padding: 10px; background-color: #fff; }*/
.top-navigation-wrapper .lang-background { border: 1px solid red; }
.lang-ul { position: relative; top: 142px; left: -75px; opacity: 1; visibility: visible !important; }
.lang-ul-li { background-color: #fff; opacity: 1; display: inline-block; visibility: visible !important; }


   

